@page
@using Anslagstavlan.Model
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ChatUserModel> signInManager

@model Anslagstavlan.Pages.ChatRoom.ViewChatModel
@{
}

<h1>@Model.ChatRoom.ChatRoomName</h1>


<div class="container chat">
    @if (Model.ChatRoom.Messages != null)
    {
        foreach (var message in Model.MessagesList)
        {
            if (message.ChatUser.Id == signInManager.UserManager.GetUserId(User))
            {
                <div class="row d-flex justify-content-end">
                    <div class="bubble own">
                        <p>@message.Message</p>

                    </div>
                    @*<div class="col-3 align-self-end">*@
                    @*</div>*@
                </div>
            }
            else
            {
                <div class="row d-flex justify-content-start">
                    <p class="text-secondary m-0">@message.ChatUser.UserName</p>
                    <br />
                    <div class="bubble other">
                        <p>@message.Message</p>
                    </div>
                </div>
            }
        }
    }

</div>

<form method="post">
    <input type="text" asp-for="@Model.Messages.Message" />
    <button class="btn btn-primary">Send</button>
</form>


